<%= simple_form_for [:admin, @commentary] do |f| %>
    <% if commentary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commentary.errors.count, "error") %> prohibited this commentary from being saved:</h2>

      <ul>
      <% commentary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mail %>
    <%= f.text_field :mail %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <%= f.label :article_id %>
    <%= f.number_field :article_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
