<p id="notice"><%= notice %></p>

<h1>Liste des articles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Contenu</th>
      <th>Chemin image</th>
      <th>Utilisateur</th>
      <th>Catégorie</th>
    </tr>
  </thead>

  <tbody class="table-striped">
    <% @articles.each do |article| %>
          <tr>
            <td><%= article.name %></td>
            <td><%= truncate(article.content, :length => 100) %></td>
            <td>
              <% image = article.image %>
              <% if image.nil? %>
                  Aucune
              <% else %>
                  <%= image.path %>
              <% end %>
            </td>
            <td>
              <% user = article.user %>
              <% if user.nil? %>
                  Aucun
              <% else %>
                  <%= user.login %>
              <% end %>
            </td>
            <td>
              <% category = article.category %>
              <% if category.nil? %>
                  Aucune
              <% else %>
                  <%= category.name %>
              <% end %>
            </td>
            <td><%= link_to 'Afficher', article, class: 'btn btn-default' %></td>
          </tr>
      <% end %>
  </tbody>
</table>