<h1><%= @article.name %></h1>

<h4>Crée par : <%= @user.login %></h4>

<p>
  <%= link_to @category.name, @category %>
</p>

<p>
  <%= raw @article.content %>
</p>

<%= image_tag(@image.path, alt: @image.alt)%>

<%=  render :template => 'commentaries/index' %>

<% if logged_in? %>
    <%=  render :template => 'commentaries/new' %>
<% end %>



