<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <%= image_tag @user.avatar.url(:thumb) %>
</p>

<p>
  <strong>Actif:</strong>
  <% if @user.active == 1 %>
    <%= 'Oui' %>
  <% else %>
    <%= 'Non' %>
  <% end %>
</p>

<p>
  <strong>Admin:</strong>
  <% if @user.admin == true %>
      <%= 'Oui' %>
  <% else %>
      <%= 'Non' %>
  <% end %>
</p>

<h3>Liste des articles de <%= @user.login %></h3>

<% @articles.each do |article| %>
    <p>
      <%= article.name %>
      <%= link_to 'Afficher', article, class: 'btn btn-success' %>
      <%= link_to 'Modifier', edit_admin_article_path(article), class: 'btn btn-warning' %>
      <%= link_to 'Supprimer', admin_articles_path(article), class: 'btn btn-danger',
                  method: :delete,
                  data: {
                      confirm: 'Etes-vous sur de vouloir supprimer cet article ?'
                  }%>
    </p>
<% end %>

<%= link_to 'Ecrire un article', new_article_path, class: 'btn btn-default' %>
<%= link_to 'Editer son profil', edit_user_path, class: 'btn btn-default' %>
