<header class="navbar navbar-inverse">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Liste de articles', articles_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if admin_logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Espace admin <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Mon Compte', current_user %></li>
                <li><%= link_to 'Gestion Utilisateurs', admin_users_path %></li>
                <li><%= link_to 'Gestion Articles', admin_articles_path %></li>
                <li><%= link_to 'Gestion Images', admin_images_path %></li>
                <li><%= link_to 'Gestion Catégories', admin_categories_path %></li>
                <li><%= link_to 'Gestion Commentaires', admin_commentaries_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to 'Déconnection', logout_path, method: 'delete' %>
                </li>
              </ul>
            </li>
        <% elsif logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Espace utilisateur <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Mon Compte', current_user %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to 'Déconnexion', logout_path, method: 'delete' %>
                </li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to 'Se Connecter', login_path %></li>
        <% end %>
      </ul>
    </nav>
</header>