<header class="navbar navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <% if admin_logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Espace admin <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Mon Compte', current_user %></li>
                <li><%= link_to 'Gestion Utilisateurs', users_path %></li>
                <li><%= link_to 'Gestion Articles', articles_path %></li>
                <li><%= link_to 'Gestion Images', images_path %></li>
                <li><%= link_to 'Gestion Catégories', categories_path %></li>
                <li><%= link_to 'Gestion Commentaires', commentaries_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to 'Déconnection', logout_path, method: 'delete' %>
                </li>
              </ul>
            </li>
        <% elsif logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Espace utilisateur <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Mon Compte', current_user %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to 'Déconnection', logout_path, method: 'delete' %>
                </li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to 'Se Connecter', login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>