<%= simple_form_for @commentary do |f| %>
  <% if commentary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commentary.errors.count, "error") %> prohibited this commentary from being saved:</h2>

      <ul>
      <% commentary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-lg-5">
      <p>
        <%= f.input :mail, label: 'Mail', class: 'form-control'%>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="form-group col-lg-5">
      <p>
        <%= f.input :content, label: 'Contenu', class: 'form-control'%>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-lg-5">
      <p>
        <%= f.input :article_id, label: 'Article ID', class: 'form-control', :as => :hidden, :input_html => { :value => @article.id }%>
      </p>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
