<p id="notice"><%= notice %></p>

<p>
  <img src="<%= @image.path %>" alt="">
</p>

<p>
  <strong>Path:</strong>
  <%= @image.path %>
</p>

<p>
  <strong>Alt:</strong>
  <%= @image.alt %>
</p>

<%= link_to 'Modifier', edit_admin_image_path(@image), class: 'btn btn-warning' %>
<%= link_to 'Retour', admin_images_path, class: 'btn btn-default' %>
