<p id="notice"><%= notice %></p>

<p>
  <h1><%= @category.name %></h1>
</p>

<p>
  <%= image_tag(@image.path, alt: @image.alt)%>
</p>

<% if @articles.nil? %>
  <p>Pas d'article</p>
<% else %>
    <% @articles.each do |article| %>
        <p>
          <%= link_to article.name, article %>
        </p>
    <% end %>
<% end %>

<%= link_to 'Back', categories_path %>
