<% if admin_logged_in? %>
    <h1>DashBoard</h1>
    <div class="row">
      <%= link_to 'Gestion Articles', admin_articles_path, class: 'btn btn-default' %>
      <%= link_to 'Gestion Catégories', admin_categories_path, class: 'btn btn-default' %>
      <%= link_to 'Gestion Commentaires', admin_commentaries_path, class: 'btn btn-default' %>
      <%= link_to 'Gestion Images', admin_images_path, class: 'btn btn-default' %>
      <%= link_to 'Gestion Utilisateurs', admin_users_path, class: 'btn btn-default' %>
    </div>
<% end %>
